/* add your CSS here */

p {
	margin-left: 10px;
	margin-right: 10px;
}
ul {
	list-style: none;
	-webkit-padding-start:0;
	margin-left: 10px;
}
.bold{
	font-weight:bold;
}
img{
	border: 1px solid black;
}
.name{
	border: 2px solid gray;
}
.italic{
	font-style:italic;
}

.cardbody{
	border: 1px solid gray;
	display: inline-block;
	padding: 10px;
	box-shadow: 5px 10px 10px #888888;
}

.interesting-fact {

    width: 300px;
    border: 1px solid gray;
    display: block;
    margin-top: 10px;

}